* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
  /*background: beige;
  background: linear-gradient(45deg, red,yellow,green)*/
  background: rgb(20%, 35%, 40%);
}

#main {
  width: 100%;
  margin: 0 auto;
}
h1 {
  /*background-color: rgba(15, 7, 7, 0.1);*/
  text-align: center;
  height: 100px;
  padding-top: 40px;
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}

h2 {
  color: #09a7a1;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}

p {
  line-height: 1.5;
  font-size: 20px;
}
a {
  color: black;
}

a:hover {
  color: red;
}

#img-div {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#tribute-info {
  font-size: 25px;
  font-weight: 300;
}

#image {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ol {
  max-width: 800px;
  line-height: 30px;
  font-size: 20px;
}

ul {
  line-height: 1.5;
  font-size: 20px;
}

#tribute-link {
  font-size: 20px;
}
